html{
	position: relative;
	margin: 25px 0px;
  
}

body{
	background: transparent;
	position: relative;
	background-color: #ededed;
    overflow:hidden;
}
section{
    max-width:100%;
    overflow-x:hidden;
}

a:focus {
	outline: 0;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.margin-lr{
	position: fixed;
	width: 25px;
	top:-25px;
	height: calc(100% + 25px);
	background-color: #ededed;
	z-index: 999;
}

.margin-left{
	left: 0px;
}

.margin-right{
	right: 0px;
}

.margin-tb{
	position: fixed;
	height: 25px;
	width: 100%;
	background-color: #f1f1f1;
	z-index: 999;
}

.margin-top{
	top:0px;
}

.margin-bottom{
	bottom:0px;
}

/*----- Page Loader -----*/

#loader {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#loader h3{
	font-family: "Lora", sans-serif;
	font-size: 14px;
	color:#000;
	font-weight: 400;
	background-color: #fff;
	letter-spacing: 1px;
	top: calc(50% + 5px);
	left:2px;
	text-align: center;
	position: relative;
	margin: 0px auto;
	width: 60px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0px auto;
  top: calc(50% - 20px);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #072def;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*--------------------------------------------------
	01. Navigation menu
---------------------------------------------------*/

#headerBar {
	z-index: 998;
  	width: 100%;
  	height: auto;
  	min-height: 60px;
  	-webkit-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	-moz-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	position: fixed;
  	top: 0px;
}

#headerBar .container {
	padding: 0;
}

.headerTop{
	background: transparent;
  	padding: 40px 85px 0px 85px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.headerScroll{
	background-color: #fff;
  	padding: 0px 85px 0px 85px;
}

.headerLeft {
	text-align: left;
	line-height: 60px;
	padding: 0;
}

.headerLeft span{
	font-weight: 400;
	color: #000;
	font-family: "Lora", serif;
	background-color: #fff;
	font-size: 26px;	
	letter-spacing: 1px;
	position: relative;
	top:2px;
}

.headerRight {
	text-align: right;
	padding: 0;
}

.navbar-collapse {padding-left: 0px;}

.navbar {margin-bottom: 0;-webkit-padding-start: 0px;}

.navbar li{display: inline-block;margin: 0 0 0 50px;}

.navbar li a{
  	font-weight: 300;
  	font-size: 14px;
  	letter-spacing: 1px;
  	text-decoration: none;
  	z-index: 999;
  	line-height: 55px;
  	padding-bottom: 0px;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	transition: 0.3s;
  	font-family: "Lato", sans-serif;
  	color: #333;
  	border:1px solid transparent;
}

.navbar li a:hover{
	border-bottom: 2px solid #fff;
	color: #072def;
}

.navbar li.active a {
	border-bottom: 2px solid #fff;
	color: #072def;
}

.navbar-toggle {
	font-size: 30px;
	cursor: pointer;
}



/*--------------------------------------------------
	02. section Intro
---------------------------------------------------*/

#sectionIntro {
  	position: relative;
  	width: 100%;
  	background-color: #fff;
  	min-height: 642px;
  	text-align: center;
  	background-image: url();
  	background-size:cover;
}

.textIntro {
	text-align: left;
	padding-top:200px;
}

.hi h2{
	font-family: "Lora", sans-serif;
	font-size: 20px;
	color:#000;
	font-weight: 400;
    text-align:center
}

.name {
	font-size: 60px;
	font-weight: 400;
	color: #000;
	font-family: "Lora", serif;
	background-color: #fff;
    text-align: center;
}

.hi-titles{
    margin-bottom: 6%;
}

.hi img{
	width: 30px;
	height: 30px;
	margin-top: 120px;
	animation-name: bounce;
    animation: bounce 3s infinite;
    transition: all 0.3s ease-in-out;
    text-align:center
}

.hi a img:hover{
	opacity: 0.5;
}

.hi-titles h2{
	font-family: "Lora", sans-serif;
	font-size: 20px;
	color:#000;
	font-weight: 400;
    margin: 0px;
	margin-bottom: 25px;
}

.hi-titles h2 b{
	color: #072def;
}
hr{
    margin: 3px;
    padding: 0px;
    border-top: #cccccc 0.02px solid;
}

.section-title{
	margin-bottom: 70px !important;
}

.section-title span{
	font-size: 44px;
	font-weight: 400;
	color: #000;
	font-family: "Lora", serif;
	background-color: #fff;
}

.section-title h2{
	font-family: "Lora", sans-serif;
	font-size: 20px;
	color:#072def;
	font-weight: 400;
	margin-top: 0px;
}
#arrow{
    margin:auto;
    display:none;
}

/*--------------------------------------------------
	03. section About
---------------------------------------------------*/

#sectionAbout {
  	background-color: #fff;
  	padding: 120px 0px 75px 0px;
}

.profile{
	text-align: left;
}

.story{
	margin-bottom: 50px;
}

.story h3{
	font-family: "Lora", sans-serif;
	font-size: 28px;
	line-height: 48px;
	margin-top: 0px;
	color:#000;
	font-weight: 400;
	margin-bottom: 30px;
}

.story h3 span{
	color:#000;
}

.story p{
	font-size: 14px;
	line-height: 29px;
	font-weight: 300;
	font-family: "Work Sans", sans-serif;
	color: #222;
	letter-spacing: 0.04em;
	margin-top: 5px;
}

.story p.p-margin{
	margin-bottom: 33px;
   
}

.story-right p{
	padding-left: 30px;
}

.skills h5{
	font-family: "Work Sans", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color:#1d1d1d;
}

.skills h5 span{
	float: right;
	color:#000;
}

.imgframe{
    width:90%;
    height:350px;
    overflow: hidden;
    margin: auto;
}

/*--------------------------------------------------
	04. section Resume
---------------------------------------------------*/

#sectionResume{
	background: #fcfcfc;
	padding: 120px 0px;
	text-align: left;
}

.resume-line{
	margin-bottom: 80px;
}

.last-line{
	margin-bottom: 0px;
}

.resume-line h3{
	font-family: "Lora", sans-serif;
	font-size: 22px;
	color:#000;
	font-weight: 400;
	margin-top: 0px;
}

.resume-left{
	text-align: left;
}

.resume-right:before{
	background-color: #fff;
    content: '';
    height: calc(100% + 64px);
    width: 2px;
    position: absolute;
    left: -65px;
    top:20px;
}

.last-line .resume-right:before{
	height: calc(100% - 30px);
}

.resume-right h3:before{
	width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 100%;
    background-color: transparent;
    left: -72px;
    top:4px;
    content: '';
}

.first-right h3:before{
	width: 16px;
    height: 16px;
    position: absolute;
    border: 0;
    background-color: #000;
    content: '';
}

.resume-left p{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	font-family: "Work Sans", sans-serif;
	color:#000;
	position: relative;
	top:8px;
}

.resume-right p{
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	letter-spacing: 0.04em;
	font-family: "Work Sans", sans-serif;
	color: #333;
}

/*--------------------------------------------------
	05. section Portfolio
---------------------------------------------------*/

#sectionPortfolio{
	padding: 120px 0px 90px 0px;
	background: #fff;
}

.filters li {
	cursor: pointer;
	display: inline-block;
	margin:0px 0px 0px 30px;
	font-weight: 300;
  	font-size: 14px;
  	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
	color: #333;
}

.filters {
	padding-top: 68px;
	padding-left: 0;
	text-align: right;
}

.is-checked{ 
	color: #000 !important;
	border-bottom: 2px solid #fff;
}

.mGrid img{
	width: 100%;
	height: 100%;
}

.grid-item {
	padding-left: 30px;
	padding-bottom: 30px;
	position: relative;
}

.no-pad-grid{
	padding-left: 0px;
}

.grid-item a {
	display: block;
	position: relative;
	overflow: hidden;
}

.item-five { width: 50%; }

.item-three { width: 32%; }

.item-four { width: 29%; }

.itemHover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding-right:20px;
	background: rgba(0,0,0,.7); 
	opacity: 0; 
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.grid-item a:hover .itemHover {
	opacity: 1;
}

.grid-item a:hover h4{
	left: 15px;
	opacity: 1;
}

.grid-item a:hover h6{
	left: 27px;
	opacity: 1;
}

.grid-item h4 {
  	color: #fff;
  	margin: 0 auto;
  	max-width: 90%;
  	padding: 12px;
  	position: absolute;
  	top: 15px;
  	left: -5px;
  	font-family: "Lora", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.grid-item h6{
	color: #f5f5f5;
	top: 45px;
	left: 5px;
	position: absolute;
	font-family: 'Work Sans', sans-serif;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.04em;
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.modal-box {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 0 auto;
	left: 0!important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.modal-box img {
	width: 100%;
	height: 100%;
}

.modal-box-content {
	padding: 40px;
}

.modal-box-content h4 {
	font-size: 24px;
	font-weight: 400;
	color:#111;
  	font-family: "Lora", sans-serif;
	letter-spacing: 1px;
}

.modal-box-content p {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	line-height: 28px;
	max-width: 800px;
	font-weight: 300;
	letter-spacing: 0.04em;
	color:#555;
}

.contactForm {margin: 0 0 50px 0;}

.contactForm h1 {
  	letter-spacing: 5px;
  	font-size: 15px;
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
  	padding-bottom: 30px;
}

/*--------------------------------------------------
	06. section Journal
---------------------------------------------------*/

#sectionJournal{
	background: #fcfcfc;
	padding: 120px 0px;
}

.journal-line{
	padding: 80px 0px 20px 0px;
	border-bottom: 2px solid #eee;
	cursor:pointer;
	position: relative;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	position: relative;
}

.journal-first{
	padding-top: 20px !important;
}

.journal-line:hover{
	padding-left: 20px;
	border-bottom: 2px solid #fff197;
}

.journal-line h1{
	font-family: "Lora", sans-serif;
	font-size: 26px;
	color:#000;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 20px;
	position: relative;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.journal-line span{
	margin-right: 40px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.04em;
	font-family: "Work Sans", sans-serif;
	color:#555;
	margin-top: 0;
	position: relative;
}

.journal-line img{
	float: right;
	width: 30px;
	height: 30px;
	position: relative;
	top:-30px;
	left: -60px;
	-webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	opacity: 0;
}

.journal-line:hover img{
	left:-20px;
	opacity: 1;
}


/*--------------------------------------------------
	07. section Contact
---------------------------------------------------*/

/* ====GENERAL FORM STYLES==== */

#sectionContact{
	margin-bottom: 0px;
	padding: 100px 0px;
	background: #fff;
}

.contactForm{
	position: relative;
	top:-25px;
	padding-left: 20px;
}

.contact-story h3{
	font-family: "Lora", sans-serif;
	color:#000;
	font-weight: 400;
	font-size: 24px;
	line-height: 48px;
	margin-top: 0px;
	max-width: 400px;
}

.contact-story h3 span{
	color:#000;
}

.info-box{
	margin-top: 35px;
}

.info-box-right{
	margin-top: 78px;
}

.info-box h4{
	font-family: "Lora", sans-serif;
	font-size: 18px;
	color:#111;
	font-weight: 400;
	margin-bottom: 15px;
}

.info-box p{
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 0.04em;
	font-family: "Work Sans", sans-serif;
	color: #777;
}

input, textarea, select {
	background:transparent;
	vertical-align: top;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	margin: 0;
	padding-bottom: 7px;
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
	border: 0;
	border-bottom:2px solid #fff;
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 300;
    color:#333;
    font-family: "Work Sans", sans-serif;
}

textarea{
	min-height: 100px;
}

input:focus, textarea:focus, select:focus {
	outline: none;
	position: relative;
	z-index: 5;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}

input.submit {
	width: auto;
	cursor: pointer;
	position: relative;
	border:0;
	margin-top: 30px;
	padding: 6px 14px;
    text-align: left !important;
	text-decoration: none;
	font-weight: 300;
  	font-size: 14px;
  	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
	background-color: #fff;
	color:#000;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #333;
}

#contactform input[type="submit"][disabled] { background:#777; cursor: default; }

#contactform div {margin: 20px 0;}

.contactForm fieldset { padding:0;border:0; }

.contactForm label {
	font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* ====MESSAGE FOR SUCCES==== */

#message { 
	margin: 1em 0; 
	padding: 0; 
	display: block; 
	background: transparent none; 
}

#message h1 {
  	letter-spacing: 1px;
 	font-size: 20px;
  	font-weight: 400;
	text-transform: uppercase;
}

#message p {
  	font-size: 16px;
  	font-weight: 200;
  	text-align: left;
  	font-style: italic;
}

/* ====MESSAGE FOR ERROR==== */

.errorMessage { 
  	display: block;
  	font-size: 14px;
    padding: 20px 0 0 0;
}

ul.errorMessages { padding: 10px 0 0 0; }

ul.errorMessages li { 
  	font-size: 16px;
  	font-weight: 200;
  	text-align: left;
  	color: #000000;
  	list-style: none;
  	line-height: 25px;
}

/* ====FOOTER=== */

.pFooter {
	background: #fcfcfc;
	position: relative;
	padding: 20px 85px 10px 90px;
}

.fCopy {
	text-align: left;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.04em;
	font-family: "Work Sans", sans-serif;
	padding: 30px 0px;
	color:#555;
}

.fCopy span{
	font-weight: 400;
	text-transform: none;
	font-family: "Lora", sans-serif;
	color:#111;
	background:#fff;
}

.fIcons {
	text-align: right;
	font-size: 14px;
	padding: 30px 0px 0px 0px;
}

.fIcons span {
	margin: 0px 0px 0px 12px;
	color:#111;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.fIcons span:hover{
	color:#072def;
}

.fIcons a:hover, .fIcons a:focus{
	text-decoration: none;
}


/*--------------------------------------------------
	08. Responsive
---------------------------------------------------*/

@media (max-width: 770px) {

.item-five { width: 50%; }

.item-three { width: 50%; }

.item-four { width: 45%; }

html{
	position: relative;
	margin: 0px;
}

.margin-tb{
	position: fixed;
	height: 0px;
	width: 100%;
	background-color: #f1f1f1;
	z-index: 999;
}

.margin-lr{
	position: fixed;
	width: 0px;
	top:-25px;
	height: calc(100% + 25px);
	background-color: #ededed;
	z-index: 999;
}

body{
	margin: 0px;
}

#headerBar {
	width: 100%;
	padding: 0 30px;
}

.navbar li{
	margin: 0px 10px;
	font-size: 10px;
}

.navbar li a{
	font-size: 12px;
}

.header-right i{
	color:#000;
}

.story-right p{
	padding-left: 0px;
}

.story{
	margin-bottom: 15px;
}

.skills{
	margin-top: 30px;
	padding-left: 0px
}

.filters {
	padding-top: 0px;
	padding-bottom: 30px;
	padding-left: 0;
	text-align: left;
}

.filters li {
	cursor: pointer;
	display: inline-block;
	margin:0px 30px 0px 0px;
}

.journal-line{
	background-color: transparent;
	margin-bottom: 50px !important;
}

.contactForm{
	position: relative;
	top: 25px;
	padding-left: 0px;
}

.pFooter {
	background: #fcfcfc;
	position: relative;
	padding: 20px 40px 10px 40px;
}

@media (max-width: 480px){

html{
	position: relative;
	margin: 0px;
}

.margin-tb{
	position: fixed;
	height: 0px;
	width: 100%;
	background-color: #f1f1f1;
	z-index: 999;
}

.margin-lr{
	position: fixed;
	width: 0px;
	top:-25px;
	height: calc(100% + 25px);
	background-color: #ededed;
	z-index: 999;
}

body{
	margin: 0;
}

.item-five { width: 100%; }

.item-three { width: 100%; }

.item-four { width: 100%; }

.container{
    overflow-x:hidden;
    max-width:100%;
}

.headerTop{
	background: #fff;
  	padding: 0px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}

.headerScroll{
	background-color: #fff;
  	padding: 0px;
}

.navbar li {
	display: block;
}

.navbar li a {
	line-height: 40px;
}

.header-right i{
	color:#000;
}

.headerLeft span{
	position: relative;
	top:10px !important;
}

.hi h2{
	font-size: 18px;
	line-height: 30px;
}

.hi span{
	font-size: 40px;
}

.section-title h2{
	font-size: 18px;
}

.section-title span{
	font-size: 25px;
}

.story{
	margin-bottom: 5px;
}

.story-left h3{
	font-size: 22px;
	line-height: 34px;
}

.story-right p{
	padding-left: 0px;
}

.skills{
	margin-top: 30px;
}

.resume-left{
	text-align: left;
	padding-right: 0px;
	margin-bottom: 30px;
}

.resume-right:before{
	background-color: #fff;
    content: '';
    height: calc(100% + 155px);
    width: 2px;
    position: absolute;
    left: -25px;
    top:-70px;
}

.last-line .resume-right:before{
	height: calc(100% + 55px);
}

.resume-right h3:before{
	width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 100%;
    background-color: transparent;
    left: -32px;
    top:-85px;
    content: '';
}

.first-right h3:before{
	width: 16px;
    height: 16px;
    position: absolute;
    border: 0;
    background-color: #000;
    left: -32px;
    content: '';
}

.resume-left h3{
	font-size: 18px;
}

.resume-right h3{
	font-size: 18px;
}

.filters {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 0;
	text-align: left;
}

.filters li {
	cursor: pointer;
	display: inline-block;
	margin:0px 0px 0px 20px;
	font-weight: 300;
  	font-size: 12px;
  	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
	color: #333;
}

.grid-item {
	padding-left: 0px;
	padding-bottom: 30px;
	position: relative;
}

.journal-line h1{
	line-height: 34px;
	font-size: 20px;
}

.journal-line{
	margin-bottom: 50px !important;
	background-color: transparent;
}

.journal-line span{
	margin-right: 20px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.04em;
	font-family: "Work Sans", sans-serif;
	color:#555;
	margin-top: 0;
	position: relative;
}

.journal-line img{
	float: right;
	width: 30px;
	height: 30px;
	position: relative;
	top: -60px;
	left: 0px;
	-webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	opacity: 0;
}

.journal-line:hover{
	padding-left: 0px;
	border-bottom: 2px solid #fff;
}

.journal-line:hover img{
	left: 20px;
	opacity: 1;
}

.contactForm{
	position: relative;
	top: 40px;
	padding-left: 0px;
}

.contact-story h3{
	font-family: "Lora", sans-serif;
	color:#000;
	font-weight: 400;
	font-size: 18px;
	line-height: 34px;
	margin-top: 0px;
	max-width: 400px;
}

.info-box{
	margin-top: 50px;
}

.info-box-right{
	margin-top: 35px;
}

.fCopy{
	text-align: left;
}

.fIcons{
	text-align: left;
	padding: 25px 15px 25px 0px;
}

.fIcons span {
	margin: 0px 12px 0px 0px;
	color:#111;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.p-margin{
    text-align:center;
}
}
}
